<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Mê Phim</title>
        <link rel="stylesheet" href="../static/CSS/style.css">
        <link rel="stylesheet" href="../static/CSS/lightslider.css">
        
        <script src="../static/js/JQuery3.3.1.js"></script>
        <script src="../static/js/lightslider.js"></script>
        <!-- fav icon -->
        <link rel="shortcut icon" href="../static/images/fav icon.jpg">
        <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
    </head>
<body>
    <!--navigation-->
    <nav>
        <!--logo-->
        <a href="/" class="logo">
            <img src="../static/images/logo1.png" alt="logo">
        </a>
        <!--menu-->
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="#">Anime</a></li>
            <li><a href="#">Action</a></li>
            <li><a href="#">Cartoon</a></li>
            <li><a href="#">Romantic</a></li>
        </ul>
        <!--search-->
        <div class="search">
            <input type="text" placeholder="Find your movie">
            <i class="fas fa-search"></i>
        </div>
    </nav>
    <div class="watch">
        <h5>Phan xem phim</h1>
    </div>
</body>
</html>